#container{
	position: relative;
}

#userModel{
	float: left;
	margin-right: 12%;
	margin-left: 2%;
	margin-top: 25%;
}

.modelPart{
	height: 100px;
	width: 75px;
	border: solid black 1px;
	margin: 0px;
	/*float: none;*/
}

#fields{
	height: 500px;
	width: 800px;
	float: left;
	margin-right: 10%;
	margin-top: 6%;
	/*border: solid black 1px;*/
}

#fields * {
	float: left;
}
.fieldRow{
	width: 800px;
	height: 200px;
	margin-bottom: 2%;
	background-image: url('../images/backgrounds/field_row.png');
	/*border: solid black 1px;*/
}

.mound{
	width: 264px;
	height: 200px;
	border: solid black 1px;
}

#buttons{
	margin-top: 2%;
	float: left;
}

.fieldButton{
	width:150px;
	height: 50px;
	border: solid black 1px;
	background: gray;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.fieldButton:visited{
	color: black;
}

table {
	overflow: scroll;
	border: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}

.modal{
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}

.modal > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

#store{
	
	/*float:center;*/
	position: relative;
	z-index: 1;

}

div#storeModal,div#inventoryModal{
	overflow: scroll;
}

